:root{
  --main:#1f4fd8;   /* couleur principale */
  --bg:#f3f4f6;
--orange:#f59e0b;

}

*{
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  margin:0;
  background:var(--bg);
}

/* HEADER */
.navbar{
  background:white;
  padding:30px 0;
  text-align:center;
  box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.nav-center{
  cursor:pointer;
}

.logo{
  width:140px; /* LOGO PLUS GRAND */
}

.nav-center h1{
  margin:10px 0 0;
  color:var(--main);
}

/* SECTIONS */
.section{
  padding:60px 20px;
  text-align:center;
}

/* ACCUEIL */
.choice{
  display:flex;
  justify-content:center;
  gap:60px;
  margin-top:60px;
}

.choice-card{
  width:420px;           
  padding:60px 40px;    
  font-size:28px;
  border-radius:30px;
  background:var(--main);
  color:white;
  cursor:pointer;
  box-shadow:0 15px 35px rgba(0,0,0,0.2);
  transition:0.3s;
}
.entreprise{ background:var(--main); }
.etudiant{ background:var(--orange);  }
.choice-card p{
  font-size:16px;
  margin-top:15px;
}

.choice-card:hover{
  transform:translateY(-12px);
}

form{
  max-width:420px;
  margin:auto;
  background:white;
  padding:35px;
  border-radius:20px;
  box-shadow:0 8px 20px rgba(0,0,0,0.15);
}

input, button{
  width:100%;
  padding:14px;
  margin:12px 0;
  border-radius:30px;
  border:1px solid #ccc;
}

button{
  background:var(--main);
  color:white;
  font-weight:bold;
  border:none;
  transition: background-color 0.5s;
}

button:hover{
  background-color: var(--orange) ;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:30px;
  margin-top:40px;
}

.card{
  background:white;
  padding:30px;
  border-radius:20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
}


.avatar{
  width:110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom:15px;
 
}

.company-logo{
  width:110px;
  margin-bottom:15px;
}

.footer{
  background:white;
  text-align:center;
  padding:25px;
  margin-top:60px;
  color:#555;
}

.hidden{
  display:none;
}
